<footer
  class="footer gap-5 flex flex-col bg-neutral text-neutral-content items-center p-7"
>
  <div class="w-full flex justify-between sm:justify-center sm:items-center ">
    <img
      class="w-35 mr-5"
      alt="Tailwind CSS Navbar component"
      src="/logo-mapbox.svg"
    />
    <div class="flex gap-4">
      <a href="https://www.linkedin.com/in/y-c-c/">
        <app-icon [svg]="linkedin" class="fill-gray-600"></app-icon>
      </a>
      <a href="https://github.com/ycamarasa">
        <app-icon [svg]="github" class="fill-gray-600"></app-icon>
      </a>

      <a href="https://www.instagram.com/y.camasasa/?hl=es">
        <app-icon [svg]="instagram" class="fill-gray-600"></app-icon>
      </a>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center text-xs">
    <div>
      Proyecto personal sin fines comerciales. Creado únicamente con fines
      educativos para aprender Mapbox. No afiliado ni respaldado por Mapbox Inc.
    </div>
    <div>
      Todos los derechos y marcas pertenecen a sus respectivos propietarios.
    </div>
  </div>
</footer>
