@import "tailwindcss";
@plugin "daisyui";

.main {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

router-outlet {
  display: contents;
}

router-outlet + * {
  height: 100%;
}
