@import "tailwindcss";
@plugin "daisyui";

/* :root {
  overflow: hidden !important;
  height: 100vh !important;
} */

.main {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

router-outlet {
  display: contents;
}

router-outlet + * {
  height: 100%;
}

.mapboxgl-ctrl-bottom,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-left,
.mapboxgl-ctrl-right,
.mapboxgl-ctrl-top,
.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right {
  z-index: 0;
}

:where(:root:has(.drawer:not(.drawer-open) > .drawer-toggle:checked)) {
  scrollbar-gutter: inherit;
}
